.radial-gradient-top {
    background-image: url('../../../global/assets/images/backgrounds/bg-gradient-mobile.png');
    background-size: cover;
    background-position: center;
}

/* Public Layout */
.bg-pattern-public {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../../../global/assets/images/backgrounds/bg-pattern-dashboard-mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Dashboard Layout */
.bg-pattern-dashboard {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../../../global/assets/images/backgrounds/bg-pattern-dashboard-mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .radial-gradient-top {
        background-image: url('../../../global/assets/images/backgrounds/bg-gradient-desktop.png');
    }

    /* Public Layout */
    .bg-pattern-public {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
            url('../../../global/assets/images/backgrounds/bg-pattern-desktop.png');
    }

    /* Dashboard Layout */
    .bg-pattern-dashboard {
        background-color: transparent;
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
            url('../../../global/assets/images/backgrounds/bg-pattern-dashboard-desktop.png');
    }
}