@import "tailwindcss";

html,
body,
#root {
    min-height: 100%;
    color: #F0F0F0;
    background-color: #1F1F1F;
}

@theme {
    --default-font-family: "Play";
    --font-Play: "Play";

    --color-neutral-50: #FFFFFF;
    --color-neutral-100: #F8F8F8;
    --color-neutral-200: #CACACA;
    --color-neutral-300: #535353;
}

h1 {
    @apply text-5xl font-semibold leading-[100%] -tracking-[1.5px];
}