@import "tailwindcss";

html,
body,
#root {
    min-height: 100%;
    color: #F0F0F0;
    background-color: #1F1F1F;
}

h2 {
    @apply text-2xl font-bold;
}

h3 {
    @apply text-xl font-semibold;
}

